html {
    box-sizing: border-box;
}

.calculator-grid {
    display: grid;
    background-color: black;
    height: 95vh;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: minmax(120px, auto) repeat(5, 20%);
}

button {
    background-color: #49a6e9;
    border: 8px solid black;
    font-size: 2rem;
    outline: none;
}


.equals {
    grid-column: span 4;
    margin-top: 10px;
}

.output {
    grid-column: 1 / -1;
    background-color: white;
    height: 100px;
    margin-top: 20px;
    border: 8px solid black;
    display: flex;
    font-size: 5em;
}
